:root {
    --body-color: #E4E9F7;
    --sidebar-color: #fff;
    --toggle-color: #ddd;
    --text-color: black;
    --primary-color: #ffa500;
    --count-color: #ff8c00;
    --primary-color-light: #ffd8a8;
}

body.dark {
    --body-color: #1f1f1f;
    --sidebar-color: #000000;
    --toggle-color: #393939;
    --text-color: #fff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.address {
    padding: 1rem;
    padding-bottom: 1.5rem;
    width: 95.5%;
    font-size: 1.3rem;
    margin-inline: 1rem;
    margin-inline: auto;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px 8px 0px 0px;
    background: var(--primary-color);
    color: var(--text-color);
}

.address h4 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.container-cart {
    background: var(--sidebar-color);
    color: var(--text-color);
    display: flex;
    overflow-x: scroll;
    scrollbar-width: none;
    justify-content: center;
    margin: 0 auto;
    margin-top: -1rem;
    margin-bottom: 1rem;
    flex-wrap: wrap;
    padding: 1rem 0 .2rem 0;
    width: 95.5%;
    gap: 1.5rem;
    border-radius: 1rem;
    -webkit-scroolbar-width: none;
    width: 95.5%;
}

.products {
    height: 500px;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: var(--primary-color) var(--sidebar-color);
    flex: 3;
    padding: .5rem .5rem 0 .5rem;
    gap: .7rem;
    display: flex;
    flex-direction: column;
    
}

.product-item {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e7e4e4;
    padding-bottom: .5rem;
}

.product-item:last-child {
    border-bottom: none;
}

.product-details {
    display: flex;
    gap: 1rem;
}

.product-img {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 8px;
}

.product-info {
    font-size: 14px;
    position: relative;
    width: 80%;
    text-overflow: ellipsis;
    white-space: nowrap;
    
} 

.product-price{
    color: var(--text-color);
    margin-left: 25px;
    margin-right: 10px;
    font-weight: bolder;
}

.rs{
    position: absolute;
    top: 75px;
}

.product-description{
    margin-bottom: .5rem;
    white-space: wrap;
    /* text-wrap: ellipsis; */
    /* overflow: hidden; */
    /* width: px; */
}

.return{
    margin-top: 40px;
}

.product-info span {
    display: block;
    margin-top: 5px;
}

.product-info p:nth-child(4) {
    position: absolute;
    bottom: 3px;
}

.discount {
    color: var(--count-color);
    font-size: 1.2rem;
    font-weight: bold;
}

.close {
    cursor: pointer;
    color: gray;
    font-size: 1.5rem;
    position: absolute;
    right: 0;
    top: -2px;
}


.quantity-container {
    /* border: 2px solid red; */
    display: flex;
    justify-content: end;
    position: absolute;
    align-items: center;
    right: 0px;
    bottom: 10px;
    gap: 1px;
    /* margin-top: -30px; */
}

.quantity-btn {
    width: 25px;
    height: 25px;
    border: none;
    background: var(--primary-color);
    color: white;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 1px;
}

.quantity-input {
    text-align: center;
    width: 30px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 1px;
    padding: 2.5px;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.product-total {
    font-weight: bold;
    color: var(--sidebar-color);
    /* display: flex;   */
    position: absolute;
    left: 27px;
    
    top: 0px;
    font-size: 0px;
}

.cart-total {
    height: fit-content;
    flex: 1;
    background: var(--sidebar-color);
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.summary :nth-child(4) {
    border-bottom: 1px solid #c8c5c5;
    padding-bottom: .5rem;
}

.summary h3 {
    margin-bottom: 1rem;
    font-size: 18px;
}

.summary p {
    font-size: 14px;
    margin-bottom: 1rem;
}

.checkout-btn {
    display: block;
    width: 100%;
    text-align: center;
    padding: 0.75rem;
    background-color: var(--primary-color);
    color: var(--text-color);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.checkout-btn:hover {
    background-color: var(--count-color);
}

@media (max-width: 1200px) {
    .product-info p {
        font-size: .9rem;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        width: 190px;
    }

    .product-total{
        top: 50.5px;
    }
    .rs{
        top: 50.5px;
    }

    .return{
        margin-top: 70px;
    }

}


@media (max-width: 940px) {
    .container-cart {
        flex-direction: column;
        margin-inline: auto;
        margin-bottom: .8rem;
    }

}

@media (max-width: 760px) {
    
    .product-img {
        width: 130px;
        height: 130px;
        object-fit: cover;
        border-radius: 8px;
    }
    
    .product-info p {
         width: 150px;
        }

        .quantity-btn {
            width: 15px;
            height: 15px;
            font-size: .7rem;
            border-radius: 1px;
        }
        
        .quantity-input {
           width: 20px;
           height: 15px;
            font-size: .7rem;
            padding: 3px;
            border-radius: 1px;
        }

        .return{
            margin-top:     20px;
        }

    }