@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", serif;
}

:root {
    --body-color: #E4E9F7;
    --sidebar-color: #fff;
    --toggle-color: #ddd;
    --text-color: black;
    --primary-color: #ffa500;
    --primary-color-light: #ffd8a8;
    
    
    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --trans-04: all 0.4s ease;
    --trans-05: all .5s ease;
}

body.dark {
    --body-color: #1f1f1f;
    --sidebar-color: #000000;
    --toggle-color: #393939;
    --text-color: #fff;
}
body {
    position: relative;
    /* height: 100vh; */
    background: var(--body-color);
    transition: var(--tran-02);
    /* display: flex; */
    /* flex-direction: column; */
    align-items: center;
    /* overflow-x: hidden; */
    justify-content: center;
    background-size: cover;
    background-position: center;
}

html {
    font-size: 77.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 9rem;
}


.forhide {
    display: none;
}

.navbar {
    display: flex;
    margin-top: .3rem;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-radius: .6rem;
    background-color: var(--sidebar-color);
    color: var(--text-color);
    margin-left: .3rem;
    margin-right: .3rem;
    transition: var(--trans-02);
}

.navbar i {
    position: absolute;
    right: 10px;
    font-size: 1.5rem;
    top: 11px;
    cursor: pointer;
    color: var(--text-color);
}

.navbar .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--primary-color);
}

.search-container {
    display: flex;
    align-items: center;
    position: relative;
}

.search-container .search-input {
    width: 250px;
    padding: 8px 12px;
    font-size: 14px;
    border: none;
    border-radius: 20px;
    outline: none;
    color: var(--text-color);
    background-color: var(--primary-color);
    font-weight: 500;
    outline: none;
    border: none;
    transition: var(--trans-02);
    border-radius: 6px;

}

.search-container .search-input:focus {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}


@media (max-width: 768px) {
    .search-container .search-input {
        width: 150px;
    }
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    padding: 10px 14px;
    width: 250px;
    background: var(--sidebar-color);
    transition: var(--trans-02);
    z-index: 1000;
}

.sidebar.close {
    width: 88px;
}

.sidebar.close .text {
    opacity: 0;
}

.sidebar .text {
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color);
    transition: var(--trans-04);
    white-space: nowrap;
    opacity: 1;
}

.sidebar .image {
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar li {
    height: 50px;
    margin-top: 10px;
    list-style: none;
    display: flex;
    align-items: center;

}

.sidebar li .icon {
    font-size: 20px;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-container {
    position: relative;
}

.cart-count {
    top: -5px;
    left: 4px;
    font-size: .9rem;
    position: absolute;
    color: black;
    background: red;
    border-radius: 50%;
    padding: 3px 5px;
    visibility: hidden;
}

.sidebar li .icon,
.sidebar li .text {
    color: var(--text-color);
    transition: var(--tran-03);
}

.sidebar header {
    position: relative;
}

.sidebar .image-text img {
    width: 40px;
    border-radius: 6px;
}

.sidebar header .image-text {
    display: flex;
    align-items: center;
}

header .image-text .header-text {
    display: flex;
    flex-direction: column;
}

.header-text .name {
    font-weight: 600;
}

.header-text .profession {
    margin-top: -2px;
}


.sidebar header .toggle {
    position: absolute;
    font-size: 10px;
    top: 50%;
    right: -22px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--text-color);
    font-size: 22px;
    transition: var(--tran-03);
}

.sidebar.close header .toggle {
    transform: translateY(-50%);
}

.sidebar .menu {
    margin-top: 35px;
}

.sidebar .search-box {
    background-color: var(--primary-color);
    border-radius: 6px;
    transition: var(--trans-05);
}

.sidebar .search-box i{
    cursor: pointer;
}

.search-box input {
    color: var(--sidebar-color);
    font-size: 16px;
    font-weight: 500;
    height: 100%;
    width: 100%;
    background-color: var(--primary-color);
    outline: none;
    border: none;
    transition: var(--trans-05);
    border-radius: 6px;
}

input::placeholder {
    color: rgba(255, 255, 255, 0.59);
}

.sidebar li a {
    width: 100%;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    border-radius: 6px;
    transition: var(--trans-04);
}

.sidebar li a:hover {
    background: var(--primary-color);
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text {
    color: var(--sidebar-color);
}

body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text {
    color: var(--sidebar-color);
}

.sidebar .menu-bar {
    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-bar .mode {
    background: var(--primary-color);
    position: relative;
    border-radius: 6px;
    transition: var(--trans-05);
}

.menu-bar .mode .moon-sun {
    height: 50px;
    width: 60px;
    display: flex;
    align-items: center;
}

.menu-bar .mode i {
    position: absolute;
    transition: var(--tran-03);
}

.menu-bar .mode i.sun {
    opacity: 0;
}

body.dark .menu-bar .mode i.sun {
    opacity: 1;
}

body.dark .menu-bar .mode i.moon {
    opacity: 0;
}

.menu-bar .mode .toggle-switch {
    position: absolute;
    height: 100%;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 60px;
    cursor: pointer;
    border-radius: 6px;
    transition: var(--trans-05);
    background: var(--primary-color);
}

.toggle-switch .switch {
    height: 22px;
    position: relative;
    width: 44px;
    border-radius: 25px;
    transition: var(--trans-05);
    background: var(--toggle-color);
}

.switch::before {
    content: '';
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    height: 15px;
    width: 15px;
    background: var(--sidebar-color);
    transition: var(--tran-03);
}

body.dark .switch::before {
    left: 24px;
}


.home {
    width: calc(100% - 250px);
    left: 250px;
    background: var(--body-color);
    position: relative;
    transition: var(--trans-05);
}

.home .text {
    font-weight: 500;
    color: var(--text-color);
    display: flex;
    justify-content: center;
    padding: 8px 20px;
}

.sidebar.close~.home {
    width: calc(100% - 50px);
    left: 68px;
}

/* slider starts  */



.slider {
    border-radius: .6rem;
    margin-inline: auto;
    width: 97%;
    height: 32rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    overflow: hidden;
}

.slides {
    width: 500%;
    height: 100%;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 20%;
    transition: 2s;
}

.slide img {
   background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: .6rem;
    overflow: hidden;
    width: 100%;
    height: 100%;
}



#radio1:checked~.first {
    margin-left: 0;
}

#radio2:checked~.first {
    margin-left: -20%;
}

#radio3:checked~.first {
    margin-left: -40%;
}

#radio4:checked~.first {
    margin-left: -60%;
}

/* slider ends  */

/* home starts */

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    padding-inline: .7rem;
    overflow: hidden;
    gap: 12px;
    width: 98.5%;
}

.container {
    background: var(--sidebar-color);
    border-radius: 1rem;
    padding: 8px;
    position: relative;
}

.images-and-sizes img {
    background-repeat: no-repeat;
    border-radius: 1rem;
    object-fit: cover;
    width: 100%;
    transition: .2s ease-in-out;
}

.images-and-sizes img:hover {
    scale: 1.02;
}

.slideshow-buttons {
    display: flex;
    justify-content: center;
    gap: 0.5em;
    margin: 1em 0;
}

.slideshow-buttons span {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background:var(--primary-color-light);
    cursor: pointer;
}

.slideshow-buttons .focus {
    background: var(--primary-color);
}


.sizes {
    display: flex;
    gap: 0.5em;
}


.product p {
    line-height: 15px;
    text-transform: uppercase;
    font-size: 0.8em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product h1 {
    line-height: 5px;
    font-size: 1.5rem;
    margin: 0.5em 0;
}

.product .pkr {
    font-size: .9rem;
    color: var(--primary-colorx );
}

.product .price {
    font-size: 1.3rem;
}

.product .old-price {
    margin-left: 4px;
    font-size: 1.3rem;
    text-decoration: line-through var(--text-color);
}

.description {
    font-size: 0.9em;
    color: var(--dark);
    text-align: justify;
}

.buttons {
    display: flex;
}

.buttons button {
    height: 30px;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    color: var(--text-color);
    background: var(--sidebar-color);
    flex: 1;
}

.like i {
    padding-top: .2rem;
    font-size: 2rem;
}

@media (max-width: 660px) {

    nav{
        display: none;
    }

    .home {
        width: 100%;
        left: 0px;
    }
    .home .text {
        padding: 0px;
    }
    .sidebar.close~.home {
        width: 100%;
        left: 0px;
    }
    
    .forhide {
        display: block;
    }
    
    .forhide i {
        font-size: 1.5rem;
    }
    
    .forhide i:hover {
        color: var(--sidebar-color);
    }
    
    .slider {
        width: 98%;
        height: 200px;
    }
    
    .cards {
    grid-template-columns: repeat(auto-fit, minmax(13rem, 2fr));
        gap: 10px;
        margin-bottom: 6.5rem;
    }
    
    .product h1 {
        font-size: 1.2em;
    }
    
    .product p {
        font-size: .65rem;
    }
    
    .product .price {
        font-size: 1rem;
    }
    
    .product .old-price {
        font-size: 1rem;
    }
    
    .sizes span {
        width: 22px;
        height: 22px;
    }
    
}
.buttons button {
        font-size: .8rem;
        padding: 0.5em .9em;
    }

    .like i {
        font-size: 1.6rem;
    }



/* home ends */
