@import url('https://fonts.googleapis.com/css? family=Poppins:100,200,300,400,500,600,700.800,900');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' , sans-serif;
}
:root
{
    --clr: #222327;
}
.foot{
    display: none;
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #222327;
    color: #fff;
    text-align: center;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    padding: .5rem ;
}
.navigation{
    position: relative;
    width: 99%;
    margin-inline: auto;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius:.5rem;
    border-top-right-radius:.5rem;
}
.navigation ul{
    display: flex;
    gap: 4rem;
    width: 350px;
}
.navigation ul li{
    position: relative;
    list-style: none;
    width: 70px;
    height: 70px;
    z-index: 1;
}
.navigation ul li a{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: bolder;
}
.navigation ul li a .icon{
    position: relative;
    display: block;
    font-weight: bold;
    line-height: 75px;
    font-size: 2rem;
    text-align: center;
    transition: 0.5s;
    color: var(--clr);
}
.navigation ul li.active a .icon {
    transform: translateY(-24px)

}

.indicator{
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.8);
    position: absolute;
    top: -50%;
    width: 70px;
    height: 70px;
    background: orange;
    border-radius: 50%;
    border: 5px solid var(--clr);
    transition: 0.5s;
}


.cart-container2{
    position: relative;
}

.cart-count2{
    background: red;
    border-radius: 50%;
    padding: 2px 5px;
    text-align: center;
    top: 8px;
    right: -22px;
    font-size: 10px;
    position: absolute;
    list-style: none;
    text-decoration: none;
}

.navigation ul li.active ~ .indicator{
    transform: translateX(calc(70px * 2));
}

@media (max-width: 660px) {
    .foot{
        display: block;
    }
}