* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    touch-action: manipulation;
    user-select: auto;
    -webkit-tap-highlight-color: transparent;
    outline: none;
}

:root {
    --body-color: #E4E9F7;
    --sidebar-color: #fff;
    --toggle-color: #ddd;
    --text-color: black;
    --primary-color: #ffa500;
    --count-color: #ff8c00;
    --primary-color-light: #ffd8a8;

}

body.dark {
    --body-color: #1f1f1f;
    --sidebar-color: #000000;
    --toggle-color: #393939;
    --text-color: #fff;
}

.foot {
    display: none;
    position: fixed;
    bottom: 0;
    width: 100%;
    background: var(--body-color);
    padding: .5rem 0 0 0;
}

.navigation {
    position: relative;
    width: 100%;
    margin-inline: auto;
    height: 60px;
    background: var(--sidebar-color);
    display: flex;
    justify-content: center;
    align-items: center;
}
.navigation ul {
    display: flex;
    gap: 3rem;
    width: 350px;
}

.navigation ul li {
    position: relative;
    list-style: none;
    width: 70px;
    height: 70px;
    z-index: 1;
}

.navigation ul li a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: bolder;
}

.navigation ul li a .icon {
    position: relative;
    display: block;
    font-weight: bold;
    line-height: 75px;
    font-size: 2rem;
    text-align: center;
    transition: 0.5s;
    color: var(--text-color);
}

.navigation ul li.active a .icon {
    transform: translateY(-24px)
}

.indicator {
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.8);
    position: absolute;
    top: -50%;
    width: 70px;
    height: 70px;
    border: solid 7px transparent;
    border-radius: 50%;
    background-image: linear-gradient(orange, var(--primary-color)), 
                      linear-gradient( to bottom, var(--body-color),var(--count-color));
    background-origin: border-box;
    background-clip: content-box, border-box;
transition: 0.5s;
}


.cart-container2 {
    position: relative;
}

.cart-count2 {
    background: var(--count-color);
    color: var(--text-color);
    border-radius: 50%;
    padding: 3px 6px;
    text-align: center;
    top: 10px;
    right: -5px;
    font-size: 8px;
    position: absolute;
    list-style: none;
    text-decoration: none;
}

.navigation ul li.active~.indicator {
    transform: translateX(calc(70px * 2));
}

@media (max-width: 760px) {
    .foot {
        display: block;
    }
}